{% extends 'index.html' %}

{% block content %}
<div class="card shadow">
  <div class="card-header">
    <h3 align="center">Gitlab | Commits</h3>
  </div>
  <div class="card-body">
    <section id="users">
      <header>
        <h4 align="center">Commits</h4>
      </header>
      <table class="table table-striped" style="text-align: center;">
        <thead>
          <tr>
            <th>Autor</th>
            <th>E-mail</th>
            <th>Data</th>
            <th>Mensagem</th>
          </tr>
        </thead>
        <tbody>
          {% for commit in context.commits %}
          <tr>
            <td>{{ commit.author_name }}</td>
            <td>{{ commit.author_email }}</td>
            <td>{{ commit.committed_date }}</td>
            <td>{{ commit.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}